<!DOCTYPE html>
<html>
<head>
	<title>Welcome page</title>
	<style>
		body {
  			margin: 0;
  			background-color: #3399ff
}
@import url(https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" rel="stylesheet);
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color:#000;
  font-size:40px;
  margin-left: 60px;
  font-style:normal;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 300;
  color:#000;
  font-size:30px;
  margin-left: 09px;
}
	</style>
</head>
<body>
	<h2><a href="{{url_for('index')}}">Home</a>|<a href="{{url_for('register')}}">Register</a></h2>
		<h1>Welcome to Galaxy Data Technologies</h1>

		<h2>My name is {{name}} and I am {{age}} years old.</h2>
</body>
</html>